<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
<!--     <exclude name = "com.sinergia.dcargo.client.shared.Persona" /> -->
<!--     <exclude name = "com.sinergia.dcargo.client.shared.Usuario" /> -->

    <!-- End of Errai exclusions -->
    <exclude name = "com.sinergia.dcargo.client.local.DCargo" />    
    <exclude name = "com.sinergia.dcargo.client.local.DCargo$Prueba" />
    
    <exclude name = "com.sinergia.dcargo.client.local.AppController" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$1" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$2" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$3" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$4" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$5" />
    <exclude name = "com.sinergia.dcargo.client.local.AdminParametros" />
    <exclude name = "com.sinergia.dcargo.client.local.UtilDCargo" />
    
<!--     <exclude name = "com.sinergia.dcargo.client.local.GetSetAttributeGenerator" /> -->
    
    
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoCambiarContrasenia" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoCliente" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoConocimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoConocimientoNuevo" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoCuentas" />                
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoDeudasPorCobrar" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoEgresoBusqueda" />    
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoEgresoNuevo" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoGuia" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerCambiarContrasenia" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerCliente" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerConocimientoNuevo" />    
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerCuentas" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerDeudasPorCobrar" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerEgresoBusqueda" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerEgresoNuevo" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerGuia" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerGuiaNuevo" />    
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerHome" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerIngresoBusqueda" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerIngresoNuevo" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerLiquidacionjCarga" />    
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerMovimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerTransportista" />                        
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerUsuario" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHome" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoIngresoBusqueda" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoIngresoNuevo" />    
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoLiquidacionCarga" />    
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoMovimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoTransportista" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoUsuario" />                


    <exclude name = "com.sinergia.dcargo.client.local.presenter.MainContentPresenter" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.MainContentPresenter$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.MainContentPresenter$2" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorCambioContrasenia" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorCambioContrasenia$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorClientes" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorClientes$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorConocimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorConocimiento$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorConocimientoNuevo" />    
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorMovimientoNuevo" />                
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorCuentas" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorCuentas$1" />    
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorDeudasPorCobrar" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorGuia" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorGuia$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorGuia$2" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorGuia$3" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorGuiaNuevo" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorLiquidacionCarga" />    
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorMovimiento" />    
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorMovimientoNuevo" />    
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorTransportistas" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorTransportistas$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.Presenter" />    
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresenterMovimientoBuscar" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresenterMovimientoNuevo" />                  
    <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter" />
<!--     <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$1" /> -->
<!--     <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$2" /> -->
<!--     <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$2$1" /> -->
<!--     <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$3" /> -->
<!--     <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$4" /> -->
<!--     <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$5" /> -->
<!--     <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$3$1" /> -->

    <exclude name = "com.sinergia.dcargo.client.local.view.Carga" />
	<exclude name = "com.sinergia.dcargo.client.local.view.Cargador" />    
    <exclude name = "com.sinergia.dcargo.client.local.view.Cargador$AppBundle" />
    <exclude name = "com.sinergia.dcargo.client.local.view.ClienteAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.ConocimientoAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.CuentaAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.EditableCellView" />
    <exclude name = "com.sinergia.dcargo.client.local.view.EditableCellView$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.EditableCellView$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.EditableCellView$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.EngregaGuiaDialogBox" />
    <exclude name = "com.sinergia.dcargo.client.local.view.FlexTableForm" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GetValue" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$10" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$11" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$12" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$13" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$14" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$PriceTemplate" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$PlaceProperties" />    
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GuiaAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.IVistaCuentas" />
    <exclude name = "com.sinergia.dcargo.client.local.view.LoginView" />
    <exclude name = "com.sinergia.dcargo.client.local.view.LoginView" />
    <exclude name = "com.sinergia.dcargo.client.local.view.LoginView$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MovimientoAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.TransportistaAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$10" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$11" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$12" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$13" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$14" />    
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$15" />        
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$16" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$17" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VerticalPanelEx" />
    <exclude name = "com.sinergia.dcargo.client.local.view.View" />
    <exclude name = "com.sinergia.dcargo.client.local.view.View$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.View$2" />    
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCambiarContrasenia" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$8" />    
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaClienteAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimientoAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimientoAccion$GuiaPropiedad" />    
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCuentaAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCuentas" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCuentasEgreso" />    
	<exclude name = "com.sinergia.dcargo.client.local.view.VistaCuentasIngreso" />
	<exclude name = "com.sinergia.dcargo.client.local.view.VistaElegirConocimientoDialogBox" />
	<exclude name = "com.sinergia.dcargo.client.local.view.VistaElegirGuiaDialogBox" />
	<exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$10" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$11" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$12" />
	<exclude name = "com.sinergia.dcargo.client.local.view.VistaGuiaAccion" />
	<exclude name = "com.sinergia.dcargo.client.local.view.VistaMovimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaMovimientoAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$10" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportistaAccion" />    

    
    <exclude name = "com.sinergia.dcargo.client.local.view.liquidacion.VistaLiquidacionCarga" />
    <exclude name = "com.sinergia.dcargo.client.local.view.liquidacion.VistaDeudasPorCobrar" />
    
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeAviso" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeAviso$1" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeAviso$2" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeConfirmacion" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeConfirmacion$1" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeConfirmacion$2" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeError" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeError$1" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeError$2" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeExito" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeExito$1" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeExito$2" />
    
     
  </scan>
</beans>
