<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
<!--     <exclude name = "com.sinergia.dcargo.client.shared.Persona" /> -->
<!--     <exclude name = "com.sinergia.dcargo.client.shared.Usuario" /> -->
    <!-- End of Errai exclusions -->
    <exclude name = "com.sinergia.dcargo.client.local.DCargo" />    
    <exclude name = "com.sinergia.dcargo.client.local.DCargo$Prueba" />
    
    <exclude name = "com.sinergia.dcargo.client.local.AppController" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$1" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$2" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$3" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$4" />
    <exclude name = "com.sinergia.dcargo.client.local.AppController$5" />
    <exclude name = "com.sinergia.dcargo.client.local.GetSetAttributeGenerator" />
    
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoCambiarContrasenia" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerCambiarContrasenia" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerUsuario" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoUsuario" /> 
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerCliente" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoCliente" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerGuia" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoGuia" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerConocimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoConocimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoHandlerTransportista" />
    <exclude name = "com.sinergia.dcargo.client.local.event.EventoTransportista" />
    
    <exclude name = "com.sinergia.dcargo.client.local.presenter.LoginPresenter" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.LoginPresenter$2" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.MainContentPresenter" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.MainContentPresenter$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.MainContentPresenter$2" />    
    <exclude name = "com.sinergia.dcargo.client.local.presenter.Presenter" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$2" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$2$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$3" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$4" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$5" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.UserPresenter$3$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorCambioContrasenia" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorCambioContrasenia$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorClientes" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorClientes$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorGuia" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorGuia$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorGuia$2" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorGuia$3" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorTransportistas" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorTransportistas$1" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorConocimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.presenter.PresentadorConocimiento$1" />

	<exclude name = "com.sinergia.dcargo.client.local.view.Cargador" />    
    <exclude name = "com.sinergia.dcargo.client.local.view.Cargador$AppBundle" />
    <exclude name = "com.sinergia.dcargo.client.local.view.EditableCellView" />
    <exclude name = "com.sinergia.dcargo.client.local.view.EditableCellView$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.EditableCellView$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.EditableCellView$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$10" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$11" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$12" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$13" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$14" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$PriceTemplate" />
    <exclude name = "com.sinergia.dcargo.client.local.view.GridItem2$PlaceProperties" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuiaAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.LoginView" />
    <exclude name = "com.sinergia.dcargo.client.local.view.LoginView$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.MainContentView$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.Menu" />
    <exclude name = "com.sinergia.dcargo.client.local.view.StatusBar" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$10" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$11" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$12" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$13" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$14" />    
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$15" />        
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$16" />
    <exclude name = "com.sinergia.dcargo.client.local.view.UserView$17" />    
    <exclude name = "com.sinergia.dcargo.client.local.view.View" />
    <exclude name = "com.sinergia.dcargo.client.local.view.View$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.View$2" />
	<exclude name = "com.sinergia.dcargo.client.local.view.VistaCambiarContrasenia" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaCliente$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$10" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$11" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaGuia$12" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaClienteAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimientoAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportistaAccion" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaNuevaGuia" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaNuevaGuia$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaNuevaGuia$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaNuevaGuia$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimiento$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$1" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$2" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$3" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$4" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$5" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$6" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$7" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$8" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$9" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaTransportista$10" />
    <exclude name = "com.sinergia.dcargo.client.local.view.FlexTableForm" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VerticalPanelEx" />
    <exclude name = "com.sinergia.dcargo.client.local.view.VistaConocimientoAccion$GuiaPropiedad" />
    
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeConfirmacion" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeConfirmacion$1" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeConfirmacion$2" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeAviso" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeAviso$1" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeAviso$2" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeError" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeError$1" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeError$2" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeExito" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeExito$1" />
    <exclude name = "com.sinergia.dcargo.client.local.message.MensajeExito$2" />
    
    <exclude name = "com.promis.logging.client.Log" />
    <exclude name = "com.promis.logging.client.Log$1" />
    <exclude name = "com.promis.rtti.generator.RttiGenerator$Client" />
    <exclude name = "com.promis.rtti.generator.RttiClassGenerator" />
    <exclude name = "com.promis.rtti.generator.RttiGenerator" />
    <exclude name = "com.promis.generators.BaseGenerator" />
     
  </scan>
</beans>
